{% verbatim %}
{% extends "theme::layouts/default" %}

{% block content %}
<div id="home">
    <div class="container-fluid">
        <div class="columns row">
            <div class="column col-lg-24">
                <div class="widget card" data-id="1">
                    <div class="card-block">
                        {{ readme|markdown }}
                    </div>
                    <div class="card-corner card-corner-info"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% endverbatim %}
